.botaoEstilizado {
    position: absolute;
    transform: translate(-47%, -4%);
    background-color: #dc3545;
    color: #fff;
    font-size: 1.1rem;
    height: 38px;
    width: 25px;
    padding: 2px;
    padding-left: 4px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 3px solid #9d0010;
}

#categories {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 10px !important;
}

#categories > a {
    color: #f8d7da;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    width: calc(100% / calc(5 + 1));
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
    background-color: #dc3545;
}

#categories > a:hover {
    color: #9d0010;
    background-color: #f8d7da;
}

#categories > a.active {
    color: #9d0010;
}

#categories > a.active:hover {
    color: #dc3545;
}

/* criar separador de cada item de navegação */
